<robot name="satellite">
  <link name="base_link">
  </link>
  
  <link name="NAME">
  </link>
  
  <link name="end_NAME">
  </link>

  <joint name="move" type="continuous">
    <parent link="base_link"/>
    <child link="NAME"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0 0 0"/>
  </joint>
  
  <joint name="rotate" type="continuous">
    <parent link="NAME"/>
    <child link="end_NAME"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0 0 12"/>
  </joint>
</robot>
